body 
{
    margin-top: 1.0em;
    background-color: #cccccc;
    font-family: georgia, Verdana, Helvetica, Arial, FreeSans, san-serif;
    color: #666666;
    text-align: justify;
    line-height: 1.5;
}

.container 
{
    margin: 0 auto;
    width: 900px;
    border:1px solid #aaaaaa;
    border-radius:25px;
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #ffffff;
}

h1.header
{
    font-family:    Georgia, Utopia, Palatino, serif;
    font-size:	    28px;
    font-weight:	400;
    font-style:	    italic;
    text-decoration: none;
    letter-spacing:	0.8px;
    line-height:    35px;
    text-align:     justify;
    vertical-align:	baseline;
}

h1 a 
{ 
    text-decoration: none; 
    color: #555555 
}

h2 
{ 
    font-size: 24px;
}

h3 
{
    font-size: 20px;
}

a 
{ 
    color: #6688dd; 
    text-decoration: none
}

a:hover
{
    color: #0000ff;
    text-decoration: underline 
}

.description
{ 
    font-size: 18px;
    text-align:center; 
    margin-bottom: 30px; 
    font-style: italic;
}

.download, .rfloat 
{ 
    float: right; 
}
.center
{
    text-align: center;
}
.italic
{
    font-style: italic;
}

pre 
{ 
    background: #000;
    color: #fff; padding: 15px;
}

hr 
{
    border: 0;
    border-bottom: 1px solid #aaa
}

.footer 
{ 
    text-align:center;
    padding-top:30px;
    font-style: italic; 
}
.info
{
    font-size: 10px;
    text-align: center;
    color: #888888;
}
table
{
    border-collapse: collapse;
}