body 
{
    background-color: #505050;
    /* background-image:url('images/carbon_fibre.png'); */
    background-attachment:fixed;
    font-family: georgia, Verdana, Helvetica, Arial, FreeSans, sans-serif;
    color: #666666;
    text-align: justify;
    line-height: 1.5;
}

.container 
{
    margin: 0 auto;
    width: 900px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 12px 12px #444;
    -webkit-box-shadow: 0 0 12px 12px #444;
    box-shadow: 0 0 10px 10px #333;
    
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    
    padding: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 70px;
    margin-top: 100px;
}

.document
{
    border: 1px solid orange;
    padding: 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.content
{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted gray; 
}
.gray { color: gray; }
.silver { color: silver; }

.indent
{
    width: 95%;
    margin: auto;
}

.indent-right
{
    margin-right: 2.5%;
}

span.news
{
    float: right;
    font-size: 15px;
    font-variant: normal;
    font-family: comic sans MS;
    font-weight: 900;
    border: 1px solid green;
    background-color: #f8fff0;
    padding: 10px;    
    color: #000088;
    margin-left: 20px;
}
.quest { color: #FF6000; }
.ans { color: blue; }

.post
{
    line-height: 1.5;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 2px 0px #cccccc;
}

.headline 
{
    font-size:16px;
    font-weight: bold;
}
.hidden 
{
    visibility: hidden;
}
.posts
{
    padding: 20px;
    padding-top: 0px;
}

h1, h2
{
    border-bottom: 1px dotted #cccccc;
}

h1, h2, h3
{
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing:    0.8px;
    color: #444444;
}



h1.header
{
    font-variant: normal;
    font-style: italic;
    text-align: left;
    border: none;
}

h1 a 
{
    color: #444444;
}
a 
{ 
    color:  green;
    text-decoration: none;
}

a:hover
{
    color: #0000ff;
    text-decoration: underline 
}

.description
{ 
    font-size: 18px;
    text-align:center; 
    margin-bottom: 20px; 
    font-style: italic;
}

.download, .rfloat 
{ 
    float: right; 
}
.middle
{
    vertical-align: middle;
}
.center
{
    text-align: center;
}
.italic
{
    font-style: italic;
}

.shell
{   
    background: #222222;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shell-content
{
    padding: 15px;
    line-height: 1.5;
    font-family: 'courier new', monospace;
    font-size: 12px;
    color: #fff;
}

hr.navbar
{
    border: 0;
    border-bottom: 1px solid orange;
}

hr.thin
{
	border: 0;
    border-bottom: 1px dotted gray;
}

.footer 
{ 
    text-align:center;
    font-size: 12px;
    font-style: italic; 
    margin-top: 20px;
}

.info, .post-date, .small
{
    font-family: Verdana, Palatino, Helvetica, Times;
    font-size: 12px;
    font-style: none;
    font-weight: 300;
    text-align: center;
    color: #888888;
}
dl.faq dt, dl.news dt
{
    padding-bottom: 10px;
    font-weight: 600;
}

dl.faq dd, dl.news dd
{
    padding-bottom: 20px;
    margin-left: 0;
}


td.figure
{
    border: 1px dotted gray;
    padding: 20px;
    text-align: center;
}

td.figure img
{	
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 0 0 2px 2px #888;
    box-shadow: 0 0 2px 2px #888;
}

.left
{
	text-align: left;
}
table.screen-shots
{
    margin-bottom: 5px;
    border-collapse: collapse;
}
table
{	
	border-collapse: collapse;
    line-height: 1.5;
    width: 100%;
}
td, th
{
    padding: 10px;
    min-width: 100px;
    text-align: justify;
}
table.shortcuts td, table.shortcuts th
{
	border: 1px dotted gray;
}

/* Begin Contribute Button */
.contribute-button
{
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
    padding: 8px 16px 12px;
    display: inline-block;
    background: -moz-linear-gradient( #669BE1, #5784BF) repeat scroll 0 0 #DFA457;
    border: 0 none;
    border-radius: 24px 24px 24px 24px; 
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px/1em Verdana, Georgia,sans-serif;
    padding: 4px 12px 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 .5px 0 rgba(0, 0, 0, 0.2);
    letter-spacing:0.5px; 
}
/* End Contribute button */

/* Add to Firefox */
.add-to-firefox
{
    background: -moz-linear-gradient(#64A63C, #287615) repeat scroll 0 0 #287615; 
    border-radius: 6px 6px 6px 6px;
    border: 0 none;
    color: white; 
    cursor: pointer; 
    font-size: 18px; 
    font-weight: 700; 
    font: Trebuchet MS, sans-serif; 
    letter-spacing: 1px; 
    padding: 8px 16px 12px; 
    position: relative; 
    text-align: center; 
    text-decoration: none; 
    font-size: 14px;
    font-variant: normal;
    font-style: normal;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.add-to-firefox:hover
{
   text-decoration: none; 
   color: white; 
}
/* End of add-to-firefox */
 
.paypal-proceed
{
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset ; 
    font: 14px/1em Verdana, Georgia,sans-serif; 
    
    display: inline-block; 
    background: -moz-linear-gradient(bottom, rgb(255,168,61) 29%, rgb(255,188,110) 100%);
    border: 0 none; border-radius: 24px 24px 24px 24px; 
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(0, 0, 0, 0.1) inset;
    color: #000066;
    
    padding: 4px 12px 4px; 
    position: relative; 
    text-align: center; 
    text-decoration: none; 
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.white { color: white;}
.no-decoration:hover { text-decoration:none; }

.meta-container
{
    width: 300px;
    margin: auto;
    text-align: center;
    background: -moz-linear-gradient(center top , #434343 0%, #343434 100%) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1), 0 6px 3px 0 rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    position: relative;
    top: -10px;
    
}
.meta-bar
{
    color: white;
}

.meta-bar a
{
    color: white;
}

.meta-bar a:hover
{
    text-decoration: none;
    color: white;
}

table.contributions 
{ 
    border: 1px solid silver;
}

table.contributions td
{
    padding: 20px;
}

.fixed
{
    position: fixed;
}
.absolute
{
    position: absolute;
}

.top0
{
    top: 0;
}
.right0
{
    right: 0;
}
.bottom-right
{
    bottom: 10px; 
    right: 10px;
}
.bottom-left
{
    bottom: 10px; 
    left: 10px;
}
.right10
{
    right: 10px;
}
.right40
{
    right: 40px;
}