#BYTubeD-toolbar-button
{
    list-style-image: url("chrome://BYTubeD/skin/icons/Down-24.png");
    -moz-image-region: rect(0px 24px 24px 0px);
}
#BYTubeD-toolbar-button:hover
{
    -moz-image-region: rect(0px 24px 24px 0px);
}
[iconsize="small"] #BYTubeD-toolbar-button
{
    list-style-image: url("chrome://BYTubeD/skin/icons/Down-16.png");
    -moz-image-region: rect(0px 16px 16px 0px);
}
[iconsize="small"] #BYTubeD-toolbar-button:hover
{
  -moz-image-region: rect(0px 16px 16px 0px);
}


#context-BYTubeD, #BYTubeD-menuitem
{
  list-style-image: url("chrome://BYTubeD/skin/icons/Down-16.png");
}
